$brand-color: #2391db;
$logo-color: #7c7698;
$light-brand-color: #aec0ce;
$accent-brand-color: #536878;
$grey: rgb(117, 117, 117);
$light-grey:  rgb(177, 177, 177);
$interactive: #8c1616;

$main-font: 'Montserrat', Arial, sans-serif;
$bold-main-font: 'MontserratBold', Arial, sans-serif;
$title-font: 'Montserrat', Arial, sans-serif;
$bold-font: 'MontserratBold', Arial, sans-serif;
$font-color: rgb(21, 21, 21);

$shadow: 0 1px 3px rgba(0,0,0, 0.12), 1px 0 3px rgba(0,0,0, 0.12);
$mega-shadow: 4px 4px 8px rgba(0,0,0, 0.2),
              -4px 4px 8px rgba(0,0,0, 0.2),
              4px -4px 8px rgba(0,0,0, 0.2),
              -4px -4px 8px rgba(0,0,0, 0.2);
