@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: RobotoItalic;
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf');
}

@font-face {
    font-family: RobotoBold;
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: MontserratItalic;
    src: url('../fonts/Montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}